* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  all: unset;
  display: block;
  cursor: pointer;
}


/*   Header     */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: indigo;
  color: white;
  padding: 20px 0 0;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}


nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav li a {
  padding: 10px;
  border-bottom: 3px solid transparent;
}

nav li:hover {
  text-shadow: 0px 5px 5px grey;
  transform: scale(1.1);
}

nav li a.active {
  border-bottom-color: aqua;
}


/* Main  */
main {
  background-color: gainsboro;
}


/* Main HomePage & Chi siamo  */
main#homepage,
main#chi-siamo {
  text-align: center;
  padding: 10%;
  font-size: 50px;
  font-weight: bolder;
}

/* Main Posts  */

main#posts {
  padding: 30px;
}

main#posts h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  width: calc((100% - 80px) / 5);
  background-color: cadetblue;
  padding: 20px;
  border-radius: 20px;
}

.post h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.post .post-link {
  color: white;
  background-color: indigo;
  text-align: center;
  margin: 10px auto 0;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}

.post .post-link:hover {
  filter: brightness(1.5);
}

/* Footer */

footer {
  background-color: indigo;
  color: white;
  padding: 20px;
}

footer h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;

}

footer ul {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

footer a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}